---
import katex from "katex";

const { formula } = Astro.props;
const html = katex.renderToString(formula, {
  displayMode: true,
  throwOnError: false
});
---

<div class="formula-block">
  <div class="formula-scroll" tabindex="0">
    <span set:html={html} />
  </div>
</div>
