---
import katex from "katex";

const { formula } = Astro.props;
const html = katex.renderToString(formula, {
  displayMode: true,
  throwOnError: false
});
---

<div class="formula-block">
  <span set:html={html} />
</div>
